body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-container {
  width: 320px;  /* Ajustado para ter borda */
  height: 320px; /* Ajustado para ter borda */
  display: grid;
  grid-template-columns: repeat(20, 15px);
  grid-template-rows: repeat(20, 15px);
  gap: 1px;
  border: 2px solid white;
}

.snake {
  background-color: green;
}

.food {
  background-color: yellow;
}

#startButton,
#restartButton {
  margin-top: 15px;
  background-color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  margin: 10px auto;
}

#gameOver {
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

